#links {
  background-color: #A1A1A1;
  border-bottom: 1px solid #555;
  border-top: 1px solid #888 !important;
  padding: 50px 20% !important;
}
#links-widget {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: realtive;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#links-widget.vertical {
  -webkit-flex-direction: row ;
      -ms-flex-direction: row ;
          flex-direction: row ;
}
#links-widget .link-wrap {
  border: 1px solid #888;
  background-color: #999;
  margin: 5px 10px;
  position: relative;
  box-shadow: 4px 4px 4px -1px rgba(16, 16, 16, 0.93);
}
#links-widget .link-wrap img {
  display: block;
}
